body {
  margin: 0;
  background-image: url("../images/grape_vine.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

.container {
margin-bottom: 50px;
}


.logoRow {
  text-align: center;
  border-bottom: 4px solid #58427C;     
}

.survey-bg {
  background: rgba(0, 0, 0, 0.5);
  min-width: 390px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 10px;
}

h5 {
  color: #58427C;
}

h6 {
  padding: 5px;
}


.navbar {
  background-color: rgba(255,255,255, 0.8);
}

li.nav-item {
  color: whitesmoke;
  margin: 2px;
}


.tagline {
    font-family:'Jim Nightshade', cursive; 
    /* font-size: 50px; */
    color: #58427C;
    padding: 2px;  
    margin: 0;  
    font-size: 65px;
    font-weight: bold;  
    
    
}

.tagline:hover, .scrape, .clear-articles, .saved {  
  cursor: pointer;
}




/* Margin below login buttons */
.login {
    margin-bottom: 125px;
}

 

footer {
  padding: 14px;  
  color: #58427C;
  background-color: rgba(255,255,255, 0.8);
  text-align: center;  
  width: 100%;
  border-top: 4px solid #58427C;     
  font-family: Arial, Helvetica, sans-serif;  
  margin-top: 150px;
}

#articles {
  color: #58427C;  
  /* background-color:  #58427C; */
}

p.story-summ {

  padding: 6px;
}

section {
  background-color: rgba(255,255,255, 0.8);
  border-radius: 4px;  
  padding: 8px;
}

.scrapeBtn, .clearBtn {
  background-color: #58427C;
  border-radius: 4px;  
  /* display: inline-block; */
  width: 100%;
  margin-top: 10px;
  color: whitesmoke;
  

}

.purpleBtn {
  padding: 6px;
}

button.saveStory, button.storyStory {
  /* padding-bottom: 2px;   */
  margin-bottom: 6px;
  margin-left: 6px;
  color: whitesmoke;
  text-decoration: none;
}

.del-article-btn {
  margin-right: 4px;
}

div.scroll { 
  margin:15px, 4px; 
  padding:4px;   
  width: auto; 
  height: 600px; 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  border-bottom: 4px solid #58427C;
  
} 

span#disappear, h3 {

  color: lightgrey;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}

