body {
  margin: 0;
  background-image: url("../images/grape_vine.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

.container {
margin-bottom: 100px;
}


.logoRow {
  text-align: center;
  border-bottom: 4px solid #58427C;     
}

.survey-bg {
  background: rgba(0, 0, 0, 0.5);
  min-width: 390px;
  margin-bottom: 100px;
}

h5 {
  color: whitesmoke;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar {
  background-color: rgba(255,255,255, 0.8);
}

li.nav-item {
  color: whitesmoke;
  margin: 2px;
}

.quote {
  color: black;
}


.title {   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
   
   
}

.tagline {
    font-family:'Jim Nightshade', cursive; 
    /* font-size: 50px; */
    color: #58427C;
    padding: 2px;  
    margin: 0;  
    font-size: 65px;
    font-weight: bold;  
    
    
}

.tagline:hover, .scrape, .clear-articles, .saved {  
  cursor: pointer;
}

/* login and sign up buttons */
.homeBtns, h6 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  

}  



#search, #homeInput {
  /* display: block; */
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
}



/* Margin below login buttons */
.login {
    margin-bottom: 125px;
}

 
  
  .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    top: 0;
    color: #f1f1f1; /* Grey text */   
    padding: 22px; /* Some padding */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin: 0 auto; /* Center it */  
    opacity: 0.85;
    transition: 0.3s;
   
  }   
    
    .content:hover {opacity: 1; cursor: pointer;}





footer {
  padding: 14px;  
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;  
  width: 100%;
  border-top: 5px solid #58427C;     
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  margin-top: 450px;
}



